.footer{
    background-color: #1B262F;
    position: relative;
    overflow: hidden;
    margin: 0 0px -48px 0px;
    padding: 46px 120px;
    text-align: center;
    z-index: 1;
}
.nav_link{
    cursor: pointer;
    text-decoration: none;
    color: #FBFCFE;
    opacity: 70%;
    font-weight: 700;
    font-size: 15px;
    line-height: 17.63px;
    margin-bottom: 31px;
    z-index: 100000;
}

.logo{
    filter:  brightness(0) invert(1);
    margin-bottom: 43px;
}
.social{
    margin-top: 12px;
}
.footer_link{
    margin-bottom: 31px;
}
.circle_footer{
    background-image: url(../../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom;
    position: absolute;
    margin: -48px 0 0px;
    width: 780px;
    height: 780px;
    left: -200px;
    top: 240px;
    z-index: -1;
}
@media (min-width: 760px){
    .footer{
        padding: 39px 31px;
        margin: 0 0px -48px 0px;
    }
    .social{
        margin: 0;
    }
    .footer_link{
        margin: 0;
    }
    .logo{
        margin: 0;
        margin-top: -7px;
    }
}
@media (min-width: 1024px){
    .footer{
        padding: 40px 95px;
    }
    .social{
        display: flex;
        flex-direction: row-reverse;
    }
}