@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.info_name{
    font-size: 16px;
    color: #36536B;
    opacity: 70%;
    line-height: 28px;
    margin: 0;
}
.info{
    font-family: 'DM Serif Display', serif;
    font-size: 56px;
    line-height: 72px;
    letter-spacing: -0.43px;
    color: rgba(186, 66, 112, 1);
    margin: 0;
}
.team_info{
    padding-bottom: 30px;
    border-top: 1px solid rgba(54, 83, 107, 0.25);
    border-bottom: 1px solid rgba(54, 83, 107, 0.25);
    padding: 16px 0;
}

@media (min-width: 760px){
    .team_info{
        text-align: left;
        padding-top: 44px;
        padding-bottom: 0;
    }
}