@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');
.home{
    box-sizing: border-box;
    padding: 48px 24px;
    position: relative;
    overflow: hidden;
}
.circle{
    background-image: url(../assets/shared/desktop/bg-pattern-circle.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: top;
    position: absolute;
    margin: -48px 0 -24px;
    width: 780px;
    height: 780px;
    left: -200px;
    top: -470px;
    z-index: -1;
}

.mob_img{
    text-align: center;
    margin-top: 60px;
    margin-bottom: -20px;
}
.mob_img img{
    width: 159px;
    margin-left: 20px;
}
.home_heading{
    font-family: 'DM Serif Display', serif;
    font-size: 32px;
    font-weight: 400;
    color: #36536B;
    line-height: 36px;
    letter-spacing: -0.25px;
    text-align: center;
}
.questions_txt{
    font-size: 15px;
    line-height: 17.63px;
    font-weight: 400;
    text-align: center;
}
.bold_txt{
    font-weight: 700;
}
.corporation{
    background-color: #1B262F;
    padding: 80px 24px;
    margin: 80px -24px;
    color: white;
    text-align: center;
}
.implement_image{
    text-align: center;
}
.implement_image img{
    width: 100%;
    box-shadow: 25px 25px 80px rgba(54, 83, 107, 0.300727);
}
.ui_img{
    text-align: center;
    width: 90vw;
    overflow: hidden;
}

@media (min-width: 760px){
    .home{
        padding: 45px 39px;
    }
    .circle{
        width: 949px;
        height: 949px;
        left: -91px;
        top: -596px;
    }
    .mob_img{
        margin-top: 48px;
    }
    .mob_img img{
        width: 250px;
    }
    .home_heading{
        font-size: 48px;
        line-height: 56px;
        letter-spacing: -0.37px;
        padding-left: 58px;
        padding-right: 58px;
    }
    .schedule_input{
        position: relative;
        margin-bottom: 24px;
    }
    .corporation{
        padding: 95px 90px;
        margin: 80px -39px;
    }
    .implement{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .implement_image img{
        width: 395px;
    }
    .questions_txt{
        margin-top: 16px;
    }
    .implement_image{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 1024px){
    .home{
        padding: 40px 95px;
    }
    .schedule_input{
        margin-top: 165px;
    }
    .home_heading{
        font-size: 72px;
        line-height: 72px;
        letter-spacing: -0.55px;
        text-align: left;
        padding: 0;
    }
    .mob_img{
        margin-top: 74px;
    }
    .questions_txt{
        text-align: left;
        margin-left: 120px;
    }
    .corporation{
        padding: 100px 140px;
        margin: 80px -95px;
    }
    .corp_wrapper{
        display: flex;
        height: 100%;
        align-items: center;
    }
    .ui_img{
        width: 40vw;
    }
    .ui_img img{
        width: 35vw;
    }
    .head_wrapper{
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        height: 100%;
    }
    .mob_img img{
        width: 350px;
    }
    .ui_ux{
        margin-top: 150px;
        margin-bottom: 146px;
    }
    .easy_to_implement{
        margin-left: 125px;
    }
}
